@use '../utils/mixins.scss';

.about-us {
  @include mixins.page-grid;

  &__content {
    grid-column: 1 / -1;

    @include mixins.on-tablet {
      grid-column: 4 / 7;
    }

    @include mixins.on-desktop {
      grid-column: span 6;
    }
  }

  &__title {
    grid-column: 1 / -1;

    @include mixins.on-tablet {
      grid-column: 1 / 4;
    }

    @include mixins.on-desktop {
      grid-column: span 6;
    }
  }

  &__description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
  }
}
