@use '../utils/mixins.scss';

.header {
  background-image: url(../../src/img/background.png);
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    margin: 0;

    @include mixins.on-tablet {
      font-size: 48px;
    }

    @include mixins.on-desktop {
      font-size: 56px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include mixins.on-tablet {
      padding-bottom: 65px;
    }
  }
}
