@use '../utils/mixins.scss';

.main {
  background-color: #fff;
  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 96px;

    @include mixins.on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }

  &__section-separator {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 200px;
    object-fit: cover;

    @include mixins.on-tablet {
      height: 400px;
    }

    @include mixins.on-desktop {
      height: 460px;
    }
  }
}
