@use '../utils/mixins.scss';
@use '../utils/variables.scss';

.menu {
  box-sizing: border-box;

  height: 100vh;
  background-color: #e5e6e8;
  font-weight: 700;

  &__top {
    margin-bottom: 32px;

    @include mixins.on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;

    font-size: 16px;
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none;
  }

  &__call-to-order {
    display: block;
    width: fit-content;

    padding-bottom: 7px;
    border-bottom: 1px solid variables.$main-text-color;

    font-size: 16px;
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
  }
}
