@use '../utils/variables.scss';

.page {
  font-family: 'Space Grotesk', sans-serif;
  color: variables.$main-text-color;
  font-size: 16px;
  line-height: 140%;

  scroll-behavior: smooth;

  &__body {
    overflow-x: hidden;
    margin: 0;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.3s;
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0%);
      pointer-events: all;
    }
  }
}
