@use '../utils/mixins.scss';

.product {
  padding: 0;

  &__title {
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }

  &__photo {
    margin-bottom: 24px;
    width: 100%;
  }

  &__description {
    margin: 0 0 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    &--hide {
      @include mixins.on-desktop {
        display: none;
      }
    }
  }

  &__price {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }
}
