@use '../utils/mixins.scss';

.recommended {
  &__products {
    @include mixins.page-grid;

    row-gap: 40px;
  }

  &__product {
    grid-column: 1 / -1;
    cursor: pointer;

    @include mixins.on-desktop {
      grid-column: span 4;
    }

    @include mixins.hover(transform, scale(1.05));
  }
}
