@use '../utils/mixins.scss';

.top-bar {
  padding-block: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mixins.on-tablet {
    padding-block: 64px;
  }

  &__logo {
    display: flex;
    height: 16px;

    @include mixins.hover(transform, scale(1.2));

    @include mixins.on-tablet {
      height: 24px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
  }
}
