@use './utils/variables';
@use './utils/mixins';
@use 'blocks/page';
@use 'blocks/header';
@use 'blocks/icon';
@use 'blocks/menu';
@use 'blocks/nav';
@use 'blocks/top-bar';
@use 'blocks/section-title';
@use 'blocks/product';
@use 'blocks/recommended';
@use 'blocks/about-us';
@use 'blocks/categories';
@use 'blocks/contacts';
@use './blocks/main-block';
