@use './variables.scss';

@mixin on-tablet {
  @media (min-width: variables.$tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: variables.$desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: 20px;

  @include on-tablet {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 72px;
  }
}

.container {
  @include content-padding-inline;
}

@mixin hover($property, $toValue) {
  transition: #{$property} variables.$effect-duration;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --columns: 12;

    column-gap: 24px;
  }
}

@mixin button-effects {
  &:hover {
    background-color: variables.$hover-button-bgc;
    color: variables.$main-text-color;
    border: 2px solid #f0f1f4;
  }

  &:active {
    background-color: variables.$active-button-bgc;
    color: #fff;
  }
}
